Application
ApplicationTests
Practicum.Console/bin
Practicum.Console/obj
Practicum.Console.Test/bin
Practicum.Console.Test/obj
Practicum.Contracts/bin
Practicum.Contracts/obj
Practicum.Meal.Rules/bin
Practicum.Meal.Rules/obj
Practicum.Meal.Rules.Test/bin
Practicum.Meal.Rules.Test/obj
Practicum.Meals/bin
Practicum.Meals/obj
Practicum.Meals.Test/bin
Practicum.Meals.Test/obj
Practicum.Rules.Test/bin
Practicum.Rules.Test/obj
Practicum.Rules/bin
Practicum.Rules/obj
TestResults
Praticum.sln.DotSettings.user
Praticum.v12.suo